/* for summary page, the overall row*/
/*
table tr#Overall td {
  background-color: E5FEFC;
}
*/
/*for the pieChartTitle*/
th#pieChartTitle {
    text-align: center;
}

/* For the search filter*/
table.fixed td:nth-of-type(1) {width:250px;}/*Setting the width of column 1.*/
table.fixed td:nth-of-type(2) {width:250px;}/*Setting the width of column 2.*/
table.fixed td:nth-of-type(3) {width:250px;}/*Setting the width of column 3.*/

button[id^=blueButton] {
  background-color: #339CFF;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14;
}


/*for textArea */
textArea#dSQL {
  width: 800px;
  height: 50px;
}
textarea.ng-invalid {
    background-color: lightyellow;
}
textarea.ng-valid {
    background-color: lightblue;
}


/*The following is for Tab */
/*========================*/
body {font-family: Arial;}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/* Style the close button */
.topright {
  float: right;
  cursor: pointer;
  font-size: 28px;
  margin-right: 20px;
}

.topright:hover {color: red;}
/*=======================*/
/* End of Tab============*/