<br>

<!-- Use the plain html
<form method="POST" action="/admin/uploadFile" enctype="multipart/form-data">
    <table>
        <tr>
            <td>Select a file to upload:</td>
        </tr>
        <tr>
            <td><input type="file" name="file" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
</form>
-->

<form name="myForm">
    <fieldset>
      <table>
        <tr><td>
            <p>Upload on form submit</p>
        </td></tr>
        <tr><td>
          <input type="file" ngf-select ng-model="csvFile" name="file"
              required>
        </td></tr>
        <tr><td>
            <button id="blueButtonA"
                    ng-click="uploadFile(csvFile)">Submit</button>
            &nbsp;&nbsp;
            <span ng-hide="progressHide">
                <img src="views/progress.jpg" alt="Download" style="width:28px;height:28px;" ng-click="downloadCsv()">
            </span>
                <!--
            <span class="progress" ng-show="csvFile.progress >= 0">
                <div style="width:{{csvFile.progress}}%"
                 ng-bind="csvFile.progress + '%'"></div>
            </span>
            -->

            <span ng-show="csvFile.result">Upload Successful</span>
            <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
        </td></tr>
      </table>
    </fieldset>
    <br>
</form>


