<html ng-app="certApp">
<style>
table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
body {margin-left:30px}
</style>
<head>
    <title>Pivotal Certification Dashboard</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="js/app/app.js"></script>
<!--
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
-->
</head>
<body ng-controller="certController" >

<h2>Pivotal Certification Dashboard</h2>


<!-- table for search filter-->
<table>
    <tr>
        <td>Start: <select ng-model="startYear" ng-options="x for x in years">
                    </select>
        </td>
        <td>End: <select ng-model="endYear" ng-options="x for x in years">
                </select>
        </td>
        <td>Region: <select ng-model="region" ng-options="x for x in regions">
                    </select>
        </td>
        <td><button ng-click="searchCertSummary()">
            Search
            </button>
        </td>
    </tr>
</table>

<br>

<!-- table for display the cert summary -->
<table>
    <tr>
        <th>No.</th>
        <th>Region</th>
        <th>Exam</th>
        <th>Pass</th>
        <th>Fail</th>
        <th>Refused</th>
        <th>Total</th>
        <th>Pass Rate</th>
    </tr>
    <tr ng-repeat="x in response">
        <td>{{ $index + 1 }}</td>
        <td>{{ x.region }}</td>
        <td>{{ x.pivotalExamCode }}</td>
        <td>{{ x.passCount }}</td>
        <td>{{ x.failCount }}</td>
        <td>{{ x.refusedCount }}</td>
        <td>{{ x.total }}</td>
        <td>{{ x.passCount*100/x.total | number : 2}}%</td>
    </tr>
</table>


</body>
</html>