<html ng-app="certApp">
<head>
    <title>Pivotal Certification Dashboard</title>
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/angular-route.js"></script>
    <script src="js/lib/Chart.min.js"></script>
    <script src="js/lib/angular-chart.js"></script>
    <script src="js/app/app.js"></script>
    <script src="js/app/summary.js"></script>
    <script src="js/app/detail.js"></script>
    <script src="js/app/administration.js"></script>
    <script src="js/app/dynamicQuery.js"></script>
    <script src="js/app/dynamicTab1.js"></script>

    <link rel="stylesheet" href="css/lib/caddy.css">
    <link rel="stylesheet" href="css/app/mystyle.css">

</head>
<body  ng-controller="appController" >

<header>
    <a href="/">
        <img alt="Pivotal Education" src="views/logo.svg"/>
    </a>
</header>

<h2>Pivotal Certification Dashboard</h2>

<div class="tab">
    <button id="summaryTab" class="tablinks" ng-click="changeTab($event, 'summary')" >Summary</button>
    <button class="tablinks" ng-click="changeTab($event, 'detail')" >Detail</button>
    <button class="tablinks" ng-click="changeTab($event, 'dynamicQuery')" >Dynamic Report</button>
    <button class="tablinks" ng-click="changeTab($event, 'administration')">Administration</button>
    <button id="dTab0" class="tablinks" ng-hide="hidedTabs[0]" ng-click="changeTab($event, 'dynamicTab1')">Dynamic Tab1</button>
</div>
<br>
<div ng-view></div>

</body>
</html>