
<table class="fixed">
    <tr>
        <td>Start: <select ng-model="startYear" ng-options="x for x in years">
                    </select>
        </td>
        <td>End: <select ng-model="endYear" ng-options="x for x in years">
                </select>
        </td>
        <td>Region: <select ng-model="region" ng-options="x for x in regions">
                    </select>
        </td>
        <td><button id="blueButton" ng-click="searchCertSummary()">
            Search
            </button>
        </td>
        <td>
            <select ng-model="chart" ng-options="x for x in charts" ng-change="switchChart()">
            </select></th>
        </td>
    </tr>
</table>

<br>

<!-- table for layout the left and right -->
<div style="display:table">
    <div style="display:table-row;">
        <div style="display:table-cell;">
<!-- table for display the cert summary -->

        <table>
            <tr>
                <th>Region</th>
                <th>Exam</th>
                <th>Pass</th>
                <th>Fail</th>
                <th>Unknown</th>
                <th>Total</th>
                <th>Pass Rate</th>
            </tr>
            <tr ng-repeat="x in response" ng-click="getPieData(x.pivotalExamCode,x)">
                <td>{{ x.region }}</td>
                <td>{{ x.pivotalExamCode }}</td>
                <td>{{ x.passCount }}</td>
                <td>{{ x.failCount }}</td>
                <td>{{ x.unknownCount }}</td>
                <td>{{ x.total }}</td>
                <td>{{ x.passCount*100/x.total | number : 2}}%</td>
            </tr>
            <tr id="Overall" ng-click="getPieData('All courses',null)">
                <td>Overall</td>
                <td>All courses</td>
                <td>{{ overallPass }}</td>
                <td>{{ overallFail }}</td>
                <td>{{ overallUnknown}}</td>
                <td>{{ overallPass + overallFail + overallUnknown }}</td>
                <td>{{ overallPass*100/(overallPass + overallFail + overallUnknown) | number : 2}}%</td>
            </tr>
        </table>
        </div>
        <div style="display:table-cell;">&nbsp;</div>

        <div style="display:table-cell;">

          <table>
              <tr>
                  <th id="pieChartTitle">{{chartTitle}} </th>
              </tr>
              <tr><th>
                <canvas ng-hide="hidePie" id="pie" class="chart chart-pie"
                      chart-data="data" chart-labels="labels" chart-options="options">
                </canvas>
                  <canvas ng-hide="hideBar" id="bar" class="chart chart-bar"
                          chart-data="data" chart-labels="labels">
                  </canvas>
              </th></tr>
          </table>

        </div>
    </div>

</div>

