<html ng-app="certApp">
<head>
    <title>Pivotal Certification Dashboard</title>
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/angular-route.js"></script>
    <script src="js/lib/Chart.min.js"></script>
    <script src="js/lib/angular-chart.js"></script>
    <!--<script src="js/app/app.js"></script>
    <script src="js/app/summary.js"></script>
    <script src="js/app/detail.js"></script>
    <script src="js/app/administration.js"></script>
    -->

    <link rel="stylesheet" href="css/lib/caddy.css">
    <link rel="stylesheet" href="css/app/mystyle.css">

</head>
<body>

<header>
    <a href="/">
        <img alt="Pivotal Education" src="views/logo.svg"/>
    </a>
</header>

<h2>Pivotal Certification Dashboard</h2>

<!--test of dependent dropdown-->

    <div ng-controller="CountryStateCityCtnl">
        <form class="form-inline" name="form">
            <div class="form-group">
                <label for="country" class="control-label">Country</label>
                <select name='country' id="country" class="form-control" ng-model="country" ng-options="country as country.CountryName for country in countries" required>
                    <option value="" disabled>Select</option>
                </select>
            </div>
            <div class="form-group">
                <label for="state" class="control-label">State</label>
                <select name='state' required id="state" class="form-control" ng-disabled="states.length == 0" ng-model="state" ng-options="state as state.StateName for state in states">
                    <option value="" disabled>Select</option>
                </select>
            </div>
            <div class="form-group">
                <label for="city" class="control-label">City</label>
                <select name='city' required id="city" class="form-control" ng-disabled="cities.length == 0" ng-model="city" ng-options="city as city.CityName for city in cities">
                    <option value="" disabled>Select</option>
                </select>
            </div>
            <button class="btn btn-primary" ng-disabled='!city.Id' type="button">Create</button>
        </form>
        <p>Selected country: {{country.Id}} - {{country.CountryName}}</p>
        <p>Selected state: {{state.Id}} - {{state.StateName}}</p>
        <p>Selected state: {{city.Id}} - {{city.CityName}}</p>
    </div>


<script>
        var myApp = angular.module('certApp', ["chart.js","ngRoute"]);

        myApp.controller('CountryStateCityCtnl',  function CountryStateCityCtnl($scope) { $scope.country = {};
    $scope.state = {};
    $scope.city = {};
    var allCountries = [{
        Id: 1,
        CountryName: "USA"
    }, {
        Id: 2,
        CountryName: "Australia"
    }];
    var allStates = [{
        Id: 1,
        StateName: "Washington",
        CountryId: 1
    }, {
        Id: 2,
        StateName: "New York",
        CountryId: 1
    }, {
        Id: 3,
        StateName: "Queensland",
        CountryId: 2
    }];
    var allCities = [{
        Id: 1,
        CityName: "Washington DC",
        StateId: 1
    }, {
        Id: 2,
        CityName: "New York City",
        StateId: 2
    }, {
        Id: 3,
        CityName: "Brisbane",
        StateId: 3
    } ];

    $scope.countries = allCountries;

    $scope.$watch('country', function () {
        $scope.states = allStates.filter(function (s) {
            return s.CountryId == $scope.country.Id;
        });
        $scope.city = {};
        $scope.state = {};
        $scope.cities = [];
    });

    $scope.$watch('state', function () {
        $scope.cities = allCities.filter(function (c) {
            return c.StateId == $scope.state.Id;
        });
        $scope.city = {};
    });
})
    </script>

</body>
</html>